**/.git
**/.svn
**/.hg
**/node_modules

.nx
.direnv
.repo
**/coverage
**/.wrangler
**/build
**/dist
**/vendor
**/.expo
**/ios
**/andriod
**/traceDir
pnpm-lock.yaml
**/models
packages/user-kit/src/random.ts
